label {
   display: block;
   float: left;
   width: 100px;
   font-weight: bold;
}
.error {
   background-color: #ffe1e1;
   border: 1px solid #6f2f2f;
   color: #6f2f2f;
   padding: 6px;
   margin: 10px 0;
}
