{% extends "base.html" %}


{% block title %}ttDashboard - Home{% endblock %}
{% block meta_keywords %}home, homepage, brag, ranking, song, songs, users, user, profile, turntable dashboard, ttdashboard, turntable.fm, turntable, turntablefm, live stats, dashboard, statistiques, statistics, Alain Gilbert{% endblock %}


{% block extrahead %}
   <link rel="stylesheet" media="screen" type="text/css" href="/css/home.css" />
   <script type="text/javascript">
      $(document).ready(function() {
      });
   </script>
{% endblock %}


{% block content %}

<div id="home">

<h1>404 - Page not found</h1>
<p>
   The page you are looking for does not exist.
</p>
<p>
   <br />
   <a href="/">Home</a>
</p>

<div style="margin: 10px;">&nbsp;</div>
</div>


{% endblock %}
