{% extends "base.html" %}


{% block title %}ttDashboard - Home{% endblock %}
{% block meta_keywords %}home, homepage, brag, ranking, song, songs, users, user, profile, turntable dashboard, ttdashboard, turntable.fm, turntable, turntablefm, live stats, dashboard, statistiques, statistics, Alain Gilbert{% endblock %}


{% block extrahead %}

{% endblock %}


{% block content %}

<div id="v2_0">

<h1>Ttdashboard Version 2.0</h1>

<p>
   Ttdashboard become social and collaborative. It mean that the global philosophy of the website has change.
   Previously, the ttdashboard server provided bots that get the data from turntable.fm. For that reason, the server
   was slow and couldn't track all rooms. Now, the server will not provide bots anymore. Ttdashboard users are gonna
   provide the data. That will improve the website performances and also allow you to track every room that you want
   to see tracked.
</p>
<p>
   All the ttdashboard sources are on <a href="#">GitHub</a>. That way, if you are a programmer and you find a bug, you can
   get the sources, test/fix it and propose a patch. If you want a new feature, you can implement it and collaborate
   to make the website cooler.
</p>
<p>
   
</p>

</div>

{% endblock %}
