{% extends "vmenu.html" %}

{% load cache %}


{% block title %}ttDashboard - Home{% endblock %}
{% block meta_keywords %}api, turntable dashboard, ttdashboard, turntable.fm, turntable, turntablefm, live stats, dashboard, statistiques, statistics, Alain Gilbert{% endblock %}


{% block extrahead %}
<link rel="stylesheet" media="screen" type="text/css" href="/css/vmenu.css" />
<link rel="stylesheet" media="screen" type="text/css" href="/css/change_password.css" />
{% endblock %}


{% block content_right %}

{% if err %}
<div class="error">{{err}}</div>
{% endif %}

<form method="post" action="/profile/change-password/">
   <label>New password:</label><input type="password" name="password" style="width: 150px;" /><br />
   <input type="submit" value="Change my password" />
</form>

{% endblock %}
