<!DOCTYPE html>
<html>
<head>
   <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

   <title>ttDashboard</title>

   <style type="text/css">
   #middle {
      margin: auto;
      margin-top: 200px;
      width: 600px;
      text-align: center;
   }
   </style>

   <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12428663-6']);
      _gaq.push(['_trackPageview']);
      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
   </script>
</head>
<body>

<div id="middle">
   <h1>A new feature is being installed.</h1>
   <h1>Will be back soon.</h1>
   <h2><a href="http://twitter.com/#!/alain_gilbert">@alain_gilbert</a></h2>
</div>


<script type="text/javascript">
var _sf_async_config={uid:25412,domain:"ttdashboard.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();
</script>
</body>
</html>
