{% extends "vmenu.html" %}


{% block title %}ttDashboard - Home{% endblock %}
{% block meta_keywords %}api, turntable dashboard, ttdashboard, turntable.fm, turntable, turntablefm, live stats, dashboard, statistiques, statistics, Alain Gilbert{% endblock %}


{% block extrahead %}
<link rel="stylesheet" media="screen" type="text/css" href="/css/vmenu.css" />
<link rel="stylesheet" media="screen" type="text/css" href="/css/playlist.css" />
{% endblock %}


{% block content_right %}

<div style="float: right;">
   <span style="margin-top: 10px; display: block;"><a href="/profile/playlists/export/{{playlist.id}}/" onClick="_gaq.push(['_trackEvent', 'Playlists', 'Playlists', 'Export to ttfm']);" class="button greenbtn" id="brag">Export to turntable</a></span>
</div>

<h1>Playlist: {{playlist.name}}</h1>

{% if playlist.comment %}
<p class="comment">« {{playlist.comment}} »</p>
{% endif %}

{% for song in songs %}
   <div class="song">
         <div style="float: right;">
            <a href="/profile/playlists/{{playlist.id}}/delete-song/{{song.id}}/" onclick="javascript: if (!confirm('Do you really want to delete this song from that playlist ?')) return false;"><img src="/img/cross.png" alt="" title="Remove" /></a>
         </div>
      <div>
         <div class="coverart">
            {% if song.coverart %}
            <img src="{{song.coverart}}" alt="" /><br />
            {% else %}
            <img src="/img/record.png" alt="" /><br />
            {% endif %}
         </div>
         <div class="infos">
            <label>Song name:</label><span><a href="/song/{{song.id}}/">{{song.song}}</a></span><br />
            <label>Album:</label><span>{{song.album}}</span><br />
            <label>Artist:</label><span>{{song.artist}}</span><br />
         </div>
         <div class="clear"></div>
      </div>
   </div>
{% empty %}
There is no songs on that playlist :(
{% endfor %}

{% endblock %}
